@import url('https://fonts.googleapis.com/css?family=Prompt');
body {
  background-color: #F0F0F0;
  font-family: 'Prompt', sans-serif;
}

nav {
  background: #0288d1;
  background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}

nav .brand-logo {
  margin-left: 20px;
}

.landing {
  margin-top: 20px;
}

.chart {
  background: #fff;
}

p {
  font: 12px helvetica;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

button {
  position: absolute;
  right: 50px;
  top: 10px;
}

.head-topic {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 0 0 5px 0;
}
